<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>123</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <!---全局自定义样式--->
    <link rel="stylesheet" href="css/style.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="bootstrap/bootstrap.min.js"></script>

    <!--angular js-->
    <script src="js/angular.min.js"></script>
    <!---全局自定义js--->
    <script src="js/init.js"></script>


</head>
<body>


<div class="container-fluid">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <div class="row" ng-app="news" ng-controller="newsInfo">
        <div class="fenlei col-md-6 col-xs-12" ng-repeat="d in json">
            <h3>{{d.fenlei}}</h3>
            <ul class="newsUl">
                <li ng-repeat="c in d.cont" class="clearfix">
                    <a target="_blank" href="{{c.href}}" class="pull-left">{{c.title}}</a><span class="pull-right">{{c.time}}</span>
                </li>
            </ul>
        </div>
    </div>

</div>
<script>
    angular.module("news",[]).controller("newsInfo",function($scope){
        $scope.json = [
            {
                fenlei:'电脑',
                cont:[{
                    time:'2016-03-23',
                    href:'popup.html',
                    title:'弹出层'
                },{
                    time:'2015-12-19',
                    href:'loadingbar.html',
                    title:'进度条'
                },{
                    time:'2015-12-19',
                    href:'flex.html',
                    title:'伸缩盒模型box'
                },{
                    time:'2015-12-19',
                    href:'countDown.html',
                    title:'倒计时'
                },{
                    time:'2015-12-04',
                    href:'slideDown.html',
                    title:'slideDown'
                },{
                    time:'2015-12-04',
                    href:'calendar.html',
                    title:'日历'
                },{
                    time:'2015-12-01',
                    href:'people.html',
                    title:'人物动--demo'
                },{
                    time:'2015-12-01',
                    href:'piaoxue.html',
                    title:'落雪效果--demo'
                },{
                    time:'2015-11-26',
                    href:'jqueryMobile.html',
                    title:'下拉加载'
                },{
                    time:'2015-11-20',
                    href:'scrollbar.html',
                    title:'js模拟滚动条'
                },{
                    time:'2015-11-18',
                    href:'transform.html',
                    title:'css3_transform'
                },{
                    time:'2015-11-03',
                    href:'pic.html',
                    title:'图文上下滑动效果'
                },{
                    time:'2015-10-29',
                    href:'nav.html',
                    title:'导航滑动'
                },{
                    time:'2015-09-25',
                    href:'links.html',
                    title:'点击切换'
                },{
                    time:'2015-09-24',
                    href:'numlunbo.html',
                    title:'数字轮播'
                },{
                    time:'2015-09-23',
                    href:'popupnav.html',
                    title:'显示层'
                },{
                    time:'2015-09-22',
                    href:'sidebar.html',
                    title:'导航一__类似京东'
                },{
                    time:'2015-09-21',
                    href:'marquee.html',
                    title:'左右上下无缝滚动'
                },{
                    time:'2015-09-08',
                    href:'lunbo.html',
                    title:'轮播'
                },{
                    time:'2015-09-08',
                    href:'xialakuang.html',
                    title:'下拉框'
                },{
                    time:'2015-09-08',
                    href:'fenlie.html',
                    title:'分裂效果'
                },{
                    time:'2015-09-08',
                    href:'pubuliu.html',
                    title:'瀑布流'
                },{
                    time:'2015-09-08',
                    href:'fenye.html',
                    title:'分页效果'
                },{
                    time:'2015-09-08',
                    href:'qiehuan.html',
                    title:'标签切换'
                }
                ]
            },{
                fenlei:'移动',
                cont:[{
                    time:'2016-08-22',
                    href:'swipe.html',
                    title:'页面过渡'
                },{
                    time:'2016-01-18',
                    href:'wap_pannel.html',
                    title:'弹框'
                },{
                    time:'2015-12-19',
                    href:'wap_backface.html',
                    title:'点击翻转'
                },{
                    time:'2015-12-19',
                    href:'wap_bnr.html',
                    title:'图片轮播'
                },{
                    time:'2015-09-08',
                    href:'wap_cehua.html',
                    title:'侧滑'
                },{
                    time:'2015-09-09',
                    href:'wap_mouse.html',
                    title:'touchstart,touchmove,touchend'
                }]
            }
        ];

    });
</script>
<script>
    $(function(){
        $(".newsUl li").on("mouseover",function(){
            $(this).css({"backgroundColor":"#f00"});
        });
        $(".newsUl li").on("mouseleave",function(){
            $(this).removeAttr("style");
        });
    });
</script>
</body>
</html>